{% extends 'to_do/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="todo-list">
	<h2>Tasks</h2>

		<br>
		<h4><strong>{{task.name}}</strong></h4>
		<br>
		<h5><b>DESCRIPTION</b>> - {{task.description}}</h5>
		<h6><b>DATE TIME</b> - {{task.date_time}}</h6>
		<h6><b>NOTIFICATION</b> - {{task.get_notification_display}}</h6>
		<h6><b>STATUS</b> - {{task.get_status_display}}</h6>
		<br>	

	<a class="btn btn-sm btn-info" href="{% url 'to_do_update' task.id %}">Update</a>
		<a class="btn btn-sm btn-danger" href="{% url 'task_delete' task.id %}">Delete</a>

	</div>
{% endblock content %}




