<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table>
	  <tr>
	    <th><h2>Name</h2></th>
	    <th><h2>Surname</h2></th>
	    <th><h2>Age</h2></th>
	    <th><h2>Height</h2></th>
	    <th><h2>Married</h2></th>
	    <th><h2>Movies</h2></th>
	  </tr>
	  <tr>
	    <td>{{ items.items.0.name }}</td>
	    <td>{{ items.items.0.surname }}</td>
	    <td>{{ items.items.0.age }}</td>
	    <td>{{ items.items.0.height }}</td>
	    <td>{{ items.items.0.married }}</td>
	    <td>{{ items.items.0.movies }}</td>
	  </tr>
  
	</table>
	<hr>
	<table>
	  <tr>
	    <th><h2>Name</h2></th>
	    <th><h2>Surname</h2></th>
	    <th><h2>Age</h2></th>
	    <th><h2>Height</h2></th>
	    <th><h2>Married</h2></th>
	    <th><h2>Movies</h2></th>
	  </tr>
	  <tr>
	    <td>{{ items.items.1.name }}</td>
	    <td>{{ items.items.1.surname }}</td>
	    <td>{{ items.items.1.age }}</td>
	    <td>{{ items.items.1.height }}</td>
	    <td>{{ items.items.1.married }}</td>
	    <td>{{ items.items.1.movies }}</td>
	  </tr>
  
	</table>


</body>
</html>